.footer {
    height: 6vh;
    background-color: #1F2937;
    color: #9CA3AF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}