<div class="formContainer">
    <form class="form" #profileInformationForm="ngForm" (ngSubmit)="ProfileInformation(profileInformationForm)">
        <h2>Profile information</h2>

        <label for="username">Username</label><br>
        <input type="text" placeholder="ORIGINAL USERNAME" class="form-control" id="username" name="username" ngModel minlength="3" maxlength="32" pattern="[A-Z]|[a-z]|[0-9]|_">

        <label for="email">Email</label><br>
        <input type="text" placeholder="ORIGINAL EMAIL" class="form-control" id="email" name="email" ngModel email>

        <button type="submit" class="btn btn-light">SAVE</button>
    </form>
</div>
<br>

<div class="formContainer">
    <form class="form" #updatePassword="ngForm" (ngSubmit)="UpdatePassword(updatePassword)">
        <h2>Update password</h2>
        <p>Ensure your account is using a long, random password to stay secure.</p>

        <label for="currentPassword">Current password <span style="color:red;">*</span></label><br>
        <input type="text" class="form-control" id="currentPassword" name="name" ngModel required minlength="6" pattern="^\S*$">

        <label for="newPassword">New password <span style="color:red;">*</span></label><br>
        <input type="text" class="form-control" id="newPassword" name="name" ngModel required minlength="6" pattern="^\S*$">

        <label for="confirmNewPassword">Confirm new password <span style="color:red;">*</span></label><br>
        <input type="text" class="form-control" id="confirmNewPassword" name="name" ngModel required minlength="6" pattern="^\S*$">

        <button type="submit" class="btn btn-light">SAVE</button>
    </form>
</div>
<br>

<div class="formContainer">
    <h2>Platform management</h2>
    <p>...</p>
</div>
<br>

<div class="formContainer">
    <h2>Delete Account</h2>
    <p>Once your account is deleted, all of its resources and data Will be permanently deleted.<br>
    Before deleting your account, please download any data or information that you wish to retain.</p>
    <button type="submit" class="btn btn-warning">DELETE ACCOUNT</button>
</div>

