<h1>{{partyName}}</h1>
<p>
    <input>
    <button class="btn btn-primary">Search</button><br>
    <!-- <mat-slide-toggle>YouTube</mat-slide-toggle> -->
    <input type="checkbox" id="youtube" name="youtube" value="youtube">
    <label for="youtube"> YouTube</label><br>
    <input type="checkbox" id="spotify" name="spotify" value="spotify">
    <label for="spotify"> Spotify</label><br>
</p>
<p>
    <button class="btn btn-secondary" onclick="window.location.href='Create'">Leave party</button>
    <button class="btn btn-info">Watch queue</button>
    <button class="btn btn-warning">Clear results</button>
    <button class="btn btn-danger" onclick="window.location.href='Create'">Delete party</button>
</p>
<player></player>