<h1>Create party</h1>
<div class="login">
    <form class="form" (ngSubmit)="Create()" #registerForm="ngForm">
        <label for="partyName">Party name <span style="color:red;">*</span><br></label>
        <input type="text" class="form-control" id="partyName" name="partyName" ngModel>

        <label for="password">Password<br></label>
        <input type="teyt" class="form-control" id="password" name="password" ngModel>

        <button type="submit" class="btn btn-light">CREATE PARTY</button>
    </form>
    <a href="Join">Join another party!</a>
</div>
<a href="" class="go-back"><img src="/assets/icons/arrow-left-short.svg" alt="Bootstrap" width="32" height="32" class="svg-black">Go back</a>